<div class="row page-header">
  <h3 data-l10n-text="devices.remove_device">Remove Device</h3>
  <div data-ng-switch="device.nickname" class="hidden-lg hidden-md">
    <h4 data-ng-switch-when="null">{{ device.make }} {{ device.model }}</h4>
    <h4 data-ng-switch-default>{{ device.nickname }}</h4>
  </div>
</div>

<div class="row">
  <div class="alert alert-danger" data-ng-show="removeError" data-l10n-text="remove_device.problem">
    There was a problem while removing this device from your account.
  </div>
  <div class="col-lg-9">
    <h4 data-l10n-text="remove_device.confirm">Are you sure you want to remove this device?</h4>
    <p data-l10n-text="remove_device.warning_message">If you remove this device from your CyanogenMod Account, you will no longer be able to use features like locating or remote wiping your device.</p>
    <div>
      <a href="/devices" class="btn btn-large btn-default" data-l10n-text="cancel">Cancel</a>
      <button class="btn btn-large btn-danger" data-ng-click="remove()" data-ng-disabled="polling" data-l10n-text="continue">Continue</button>
    </div>
  </div>
  <div class="col-lg-3 visible-lg">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div data-ng-switch="device.nickname">
          <h3 data-ng-switch-when="null" class="panel-title">{{ device.make }} {{ device.model }}</h3>
          <h3 data-ng-switch-default class="panel-title">{{ device.nickname }}</h3>
        </div>
      </div>

      <div class="panel-body">
        <div class="device-detail device-detail-block">
          <span data-l10n-text="devices.cyanogenmod_version">CyanogenMod Version</span>
          <span>{{ device.cm_version }}</span>
        </div>

        <div class="device-detail device-detail-block">
          <span data-l10n-text="devices.android_version">Android Version</span>
          <span>{{ device.android_version }}</span>
        </div>

        <div class="device-detail device-detail-block">
          <span data-l10n-text="devices.last_seen">Last Seen</span>
          <span>{{ device.last_seen | date:'short' }}</span>
        </div>

        <div class="device-detail device-detail-block">
          <span data-l10n-text="devices.date_registered">Date Registered</span>
          <span>{{ device.registration_date | date:'short' }}</span>
        </div>
          
        <div class="device-detail device-detail-block">
          <span data-l10n-text="devices.carrier">Carrier</span>
          <span>{{ device.carrier }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
