<div class="row">
  <div class="col-lg-12 termsOfService">
    <div class="page-header">
      <h3 data-l10n-text="learn_more.learn_more">Learn More</h3>
    </div>

    <h4 data-l10n-text="learn_more.what_is_cmaccount.title">What is a CyanogenMod Account?</h4>
    <p data-l10n-text="learn_more.what_is_cmaccount.text">A CyanogenMod Account provides access to value-add services and functionality for your mobile device running CyanogenMod.</p>

    <h4 data-l10n-text="learn_more.do_i_need.title">Do I need a CyanogenMod Account?</h4>
    <p data-l10n-text="learn_more.do_i_need.text">Creation of a CyanogenMod Account is not required to use CyanogenMod on your device.  Certain functionality or services provided by CyanogenMod, such as "Find My Phone" require a CyanogenMod Account to access.</p>

    <h4 data-l10n-text="learn_more.personal_info.title">What personal information is required?</h4>
    <p data-l10n-text="learn_more.personal_info.required">Creation of a CyanogenMod account requires only basic information including your email address.</p>
    <p><span data-l10n-text="learn_more.personal_info.usage">CyanogenMod will never sell your personal information.  This information will be used only in accordance with our</span> <a href="http://www.cyanogenmod.org/docs/privacy" target="_blank" data-l10n-text="privacy_policy">Privacy Policy</a>.</p>

    <h4 data-l10n-text="learn_more.secure.title">Is it secure?</h4>
    <p data-l10n-text="learn_more.secure.communication">All communication between your browser or device and our servers is SSL encrypted.  Additionally, we will never send your plaintext password to our servers.</p>
    <p data-l10n-text="learn_more.secure.priority">Given the nature of the "Find My Phone" and "Remote Wipe" features, security is our number one priority.  You cannot locate or wipe your device without first authenticating using your password.  All communication with your device, including location information, is encrypted and inaccessible to any CyanogenMod servers, personnel, or partners.</p>

    <h4 data-l10n-text="learn_more.benefits.title">What does having an account get me?</h4>
    <p data-l10n-text="learn_more.benefits.text">By establishing a CyanogenMod Account you will have, at minimum, access to "Find My Phone" and "Remote Wipe" capabilities for your device.</p>
  </div>
</div>
