<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h3 data-l10n-text="register.create">Create your CyanogenMod Account</h3>
    </div>
    <div data-ng-hide="registered">
      <form name="form" class="form-horizontal" data-novalidate>

        <fieldset>
          <!-- begin email -->
          <div class="form-group" data-ng-class="{'has-error': form.email.$dirty && form.email.$invalid}">
            <label for="email" class="col-lg-2 control-label" data-l10n-text="email">Email</label>
            <div class="col-lg-3">
              <input class="form-control" type="email" name="email" data-ng-model="model.email" placeholder="Email" data-required data-available="email">
            </div>
            <span data-ng-show="form.email.$dirty && form.email.$error.email" class="help-block">You must enter a valid email address.</span>
            <span data-ng-show="form.email.$dirty && form.email.$error.available" class="help-block">This email address is already in use.</span>
          </div>
          <!-- end email -->

          <!-- begin password -->
          <div class="form-group" data-ng-class="{'has-error': form.password.$dirty && form.password.$invalid}">
            <label for="password" class="col-lg-2 control-label" data-l10n-text="password">Password</label>
            <div class="col-lg-3">
              <input class="form-control" type="password" name="password" data-ng-model="model.password" placeholder="Password" data-password-complexity data-required>
            </div>
            <span data-ng-show="form.password.$dirty && form.password.$error.complexity" class="help-block">Your password must be at least eight (8) characters long.</span>
          </div>
          <!-- end password -->

          <!-- begin password verify -->
          <div class="form-group" data-ng-class="{'has-error': form.password_verify.$dirty && form.password_verify.$invalid}">
            <label for="password_verify" class="col-lg-2 control-label" data-l10n-text="confirm_password">Confirm Password</label>
            <div class="col-lg-3">
              <input class="form-control" type="password" name="password_verify" data-ng-model="model.password_verify" placeholder="Confirm Password" data-match="password" data-required>
            </div>
            <span data-ng-show="form.password_verify.$dirty && !form.password_verify.$error.required && form.password_verify.$error.match" class="help-block">The password you entered do not match.</span>
          </div>
          <!-- end password verify -->
        </fieldset>

        <fieldset>
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <label class="checkbox">
                <input type="checkbox" name="terms_of_service" data-ng-model="model.terms_of_service" data-required>
                I agree to the CyanogenMod <a href="http://www.cyanogenmod.org/docs/terms" target="_blank" analytics-on analytics-event="click" analytics-category="register" analytics-label="termsOfService" data-l10n-text="terms_of_service">Terms of Service</a> and <a href="http://www.cyanogenmod.org/docs/privacy" target="_blank" analytics-on analytics-event="click" analytics-category="register" analytics-label="privacyPolicy" data-l10n-text="privacy_policy">Privacy Policy</a>.
              </label>
              <span data-ng-show="form.terms_of_service.$dirty && form.terms_of_service.$error.required" class="help-block">In order to use our services, you must agree to the Terms of Service and Privacy Policy.</span>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button data-ng-click="register()" data-ng-disabled="form.$invalid || polling" class="btn btn-primary"><i class="icon-ok"></i> {{ 'Register' | l10n:'register.register' }}</button>
            </div>
          </div>
        </fieldset>
      
      </form>
    </div>
    <div data-ng-show="registered">
      <p>Your CyanogenMod Account has been successfully created.  We just sent an email to <strong>{{ model.email }}</strong> to verify your email address.  Please check your email and follow the link in it.</p>
    </div>
  </div>
</div>
