<div class="row">
  <div class="col-lg-12">

    <div data-ng-show="invalidEmail" class="alert alert-danger"><strong>Invalid Email</strong>  We could not find an account with that email address.</div>
    <div data-ng-show="invalidResetKey" class="alert alert-danger">The link you have followed is no longer valid.  Try <a href="/profile/password_reset" class="alert-link">requesting a password reset</a> again.</div>

    <h3 data-l10n-text="password_reset.title">Reset your CyanogenMod Account password</h3>

    <div data-ng-hide="emailSent || resetKey">
      <form name="formEmail" class="form-horizontal well" data-novalidate>
        <div class="form-group" data-ng-class="{'has-error': formEmail.email.$dirty && formEmail.email.$invalid}">
          <label for="email" class="col-lg-2 control-label" data-l10n-text="email">Email</label>
          <div class="col-lg-3">
            <input class="form-control" type="email" name="email" data-ng-model="email" placeholder="Email" data-required>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-3 col-lg-offset-2">
            <button data-ng-click="initiate_password_reset()" data-ng-disabled="formEmail.$invalid || polling" class="btn btn-primary"><i class="icon-ok"></i> {{ 'Reset Password' | l10n:'password_reset.reset_password' }}</button>
          </div>
        </div>
      </form>
    </div>

    <div data-ng-show="emailSent">
      <p>We just sent an email to {{email}} with further instructions on resetting your password.</p>
    </div>

    <div data-ng-show="resetKey">
      <form name="form" class="form-horizontal well" data-novalidate>
        <!-- begin password -->
        <div class="form-group" data-ng-class="{'has-error': form.password.$dirty && form.password.$invalid}">
          <label for="password" class="col-lg-2 control-label" data-l10n-text="password">Password</label>
          <div class="col-lg-3">
            <input class="form-control" type="password" name="password" data-ng-model="model.password" placeholder="Password" data-password-complexity data-required>
          </div>
          <span data-ng-show="form.password.$dirty && form.password.$error.complexity" class="help-block">Your password must be at least eight (8) characters long.</span>
        </div>
        <!-- end password -->

        <!-- begin password verify -->
        <div class="form-group" data-ng-class="{'has-error': form.password_verify.$dirty && form.password_verify.$invalid}">
          <label for="password_verify" class="col-lg-2 control-label" data-l10n-text="confirm_password">Confirm Password</label>
          <div class="col-lg-3">
            <input class="form-control" type="password" name="password_verify" data-ng-model="model.password_verify" placeholder="Confirm Password" data-match="password" data-required>
          </div>
          <span data-ng-show="form.password_verify.$dirty && !form.password_verify.$error.data-required && form.password_verify.$error.match" class="help-block">The password you entered do not match.</span>
        </div>
        <!-- end password verify -->

        <div class="form-group">
          <div class="col-lg-3 col-lg-offset-2">
            <button data-ng-click="finish_password_reset()" data-ng-disabled="form.$invalid || polling" class="btn btn-primary"><i class="icon-ok"></i> {{ 'Reset Password' | l10n:'password_reset.reset_password' }}</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
