<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h3 data-l10n-text="verify_email.title">Verify your email address</h3>
    </div>
    <div data-ng-hide="emailSent || verifyKey">
      <p data-l10n-text="verify_email.must_verify">You must verify your email address before you can use your CyanogenMod Account.  When you signed up, we sent you an email with a link that you must follow.</p>
      <p data-ng-show="verifyEmail">Please <a data-prevent-default data-ng-click="resend()" href="#">click here</a> to resend the verification email.</p>
    </div>

    <div data-ng-show="emailSent">
      <p>We have sent an email to <strong>{{ verifyEmail }}</strong> to verify your account.  Please check your email and click the link in it.</p>
    </div>

    <div data-ng-show="verifyKey && emailVerified">
      You email address has been verified.  Please <a href="/login">click here</a> to login.
    </div>

    <div data-ng-show="verificationError" data-l10n-text="verify_email.no_longer_valid">
      The link you followed is no longer valid.
    </div>
  </div>
</div>
